.partners {
    padding-top: 75px;

    // .partners__list

    &__list {
        height: 170px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .partners__item

    &__item {}
}